<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>controller.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProducDetailController</servlet-name>
        <servlet-class>controller.ProducDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenWatchController</servlet-name>
        <servlet-class>controller.WatchByCateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>controller.AuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeauthenticationController</servlet-name>
        <servlet-class>controller.DeauthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserInfoController</servlet-name>
        <servlet-class>controller.UserInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>controller.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLySanPham</servlet-name>
        <servlet-class>controller.QuanLySanPham</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopContact</servlet-name>
        <servlet-class>controller.ShopContact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>controller.Cart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>controller.UpdateCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>controller.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrder</servlet-name>
        <servlet-class>controller.UserOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>controller.EditProduct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProducDetailController</servlet-name>
        <url-pattern>/pdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenWatchController</servlet-name>
        <url-pattern>/WatchByCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeauthenticationController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserInfoController</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLySanPham</servlet-name>
        <url-pattern>/QLSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopContact</servlet-name>
        <url-pattern>/ShopContact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/UpdateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrder</servlet-name>
        <url-pattern>/UserOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>header.jsp</welcome-file>
        <welcome-file>gt.jsp</welcome-file>
    </welcome-file-list>
</web-app>
